body, h1, h2, h3, h4, p {
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

button {
	cursor: pointer;
}

.container {
	max-width: 1061px;
    box-sizing: border-box;
}

.header {
    display: flex;
    justify-content: center;
	background-image: url(../images/layer-1.png);
	background-size: cover;
    opacity: 0.7;
}

.header-bg {
    padding-top: 6.672%;
}

.header-bg-icons-container {
    display: flex;
    justify-content: space-between;
}

.header-bg-container {
	display: flex;
	flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    padding: 0 7.07% 0 4.713%;
}


.header-bg-container-text {
	width: 50%;
}

.header-bg-container-text-caption {
	margin-bottom: 20px;
	color: #ffffff;
	font-family: 'Lato', sans-serif;
	font-size: 49px;
	font-weight: 400;
	text-align: right;
	text-transform: uppercase;
}

.header-bg-container-text p {
	color: #ffffff;
	font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-weight: 400;
	text-align: right;
	letter-spacing: 1.12px;
}

.header-bg-container-phone_img {
    /*display: flex;*/
    width: 50%;
    align-self: flex-end;
    justify-content: flex-end;
}

.header-bg-container-phone_img img {
	float: right;
}

.header-bg-buttons-container {
	margin-top: 45px;
	text-align: center;
}

.button {
	padding: 12px 35px;
    color: #eff3f3;
    border: 2px solid #eff3f3;
    background: transparent;
	font-family: Raavi;
	font-size: 17px;
	font-weight: 400;
	letter-spacing: 0.84px;
	transition: 1s;
}

.download_button {
	margin-right: 32px;
}

.button:hover {
	color: #566473;
	background-color: #eff3f3;
	box-shadow: 0 3px 3px rgba(0, 1, 1, 0.17);
}

.superb-features {
	background-color: #3498db;
}

.superb-features-container {
    margin: 0 auto;
	padding: 38px 3.707% 36px;
    color: #fff;
    text-align: center;
}

.superb-features-container-caption {
	font-size: 23px;
	font-weight: 700;
	letter-spacing: 0.46px;
}

.superb-features-container-text {
	margin-top: 8px;
	font-size: 13px;
	font-weight: 400;
	letter-spacing: 1.56px;
}

.social-signups-container {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 78px auto 0;
    padding: 0 6.005% 0 4.078%;
}

.social-signups-container-img {
	width: 45%;
	/*display: flex;*/
	align-self: flex-end;
}

.social-signups-container-img img{
	float: left;
}

.social-signups-container-text {
	width: 55%;
	color: #566473;
	text-align: right;
}

.social-signups-container-text-caption {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.6px;
}

.social-signups-container-text p, .todays-menu-container-text p {
	font-size: 14px;
	font-weight: 500;
	line-height: 24px;
}

.todays-menu {
	border-top: 1px solid transparent;
	background-color: #eff3f3;
}

.todays-menu-container {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 78px auto 0;
    padding: 0 4.078% 0 6.005%;
}

.todays-menu-container-text {
	width: 55%;
	color: #566473;
	text-align: left;
}

.todays-menu-container-text-caption {
	margin-bottom: 20px;
	font-size: 30px;
	font-weight: 700;
	letter-spacing: 0.6px;
}

.todays-menu-container-img {
	width: 45%;
	/*display: flex;*/
	align-self: flex-end;
    justify-content: flex-end;
}

.todays-menu-container-img img {
	float: right;
}

.app-gallery {
	border-top: 1px solid transparent;
	background-color: #3498db;
	background-size: cover;
	background-image: url(../images/layer-2.png);
}

.app-gallery-container {
	margin: 78px auto 0 auto;
	color: #fff;
	text-align: center;
}

.app-gallery-container-first-caption {
	font-size: 28px;
	font-weight: 400;
	letter-spacing: 0.56px;
}

.app-gallery-container-second-caption {
	margin-bottom: 38px; 
	font-size: 36px;
	font-weight: 700;
	letter-spacing: 0.72px;
}

.app-gallery-container img {
	display: flex;
	margin: 0 auto;
}

.slider {
    border: 1px solid transparent;
	background-color: #eff3f3;
}

.slider-container {
	margin: 78px auto;
    display: flex;
}

.slider-container-img {
	width: 25%;
}

.slider-container-text {
	width: 75%;
}

.slider-container-wrapper {
	display: flex;
	align-items: center;
    justify-content: space-between;
	padding: 0 7.805%;
}

.sing-up {
	display: flex;
    align-items: center;
    justify-content: center;
	background-image: url(../images/sing-up-layer.jpg);
}

.footer {
	display: flex;
    align-items: center;
    justify-content: center;
    padding: 87px 0 65px;
	background-color: #1b1e20;
}

.arrow-button {
    margin: 0;
    padding: 0;
    border: none;
	background: transparent;
    color: #3498db;
    font-size: 45px;
    opacity: 0.66;
}

.img-border {
	width: 	152px;
	border: 3px solid #3498db;
	border-radius: 50%;
}

.img-border img {
	border: 3px solid transparent;
	border-radius: 50%;
}

.slider-container-text {
	color: #566473;
	line-height: 21px;
}

.slider-container-text-caption {
	margin: 0;
	margin-bottom: 11px;
	font-size: 26px;
	font-weight: 500;
	letter-spacing: 1.04px;
}

.slider-container-text p {
	margin: 0;
	font-weight: 400;
	letter-spacing: 1.3px;
}

.sing-up-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 auto;
    padding: 9.637% 6.005%;
}

.sing-up-container-text {
	width: 50%;
	color: #eff3f3;
	line-height: 21px;
}

.sing-up-container-text-first-caption {
	margin-bottom: 15px;
	font-size: 30px;
	font-weight: 400;
	letter-spacing: 1.2px;
}

.sing-up-container-text-second-caption {
	margin: 0;
	font-size: 20px;
	font-weight: 300;
	letter-spacing: 0.8px;
}

.sing-up-container-form {
    width: 50%;
    text-align: right;
}

.sing-up-container-form .sing-up-form {
	display: inline-block;
    font-family: 'Open Sans', sans-serif;
    text-align: center;
}

.sing-up-form input {
    width: 180px;
    height: 37px;
    margin: 0 0 4% 4%;
    padding-left: 10px;
    box-sizing: content-box;
    color: #eff3f3;
    font-size: 13px;
    font-weight: 400;
    line-height: 21px;
    letter-spacing: 0.52px;
    border: 2px solid rgba(239, 243, 243, 0.7);
    background-color: transparent;
}

.sing-up-form-button {
	width: 180px;
	height: 43px;
    box-sizing: content-box;
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
    border: 2px solid rgba(239, 243, 243, 0);
	background-color: #3498db;
    transition: 1s;
}

.sing-up-form-button:hover {
    border: 2px solid rgba(239, 243, 243, 0.7);
    background: transparent;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.footer-container-text_button {
	display: flex;
    align-items: center;
    justify-content: center;
}

.footer-container-text_button-button {
	margin-left: 17px;
}

.footer-container-text_button-text {
	color: #dddfe1;
	font-size: 30px;
	font-weight: 700;
	text-transform: uppercase;
	line-height: 21px;
	letter-spacing: 1.2px;
}

.footer-container-text_button-text-second-caption {
    color: #dddfe1;
	font-weight: 400;
	background-color: transparent;
}

.footer-container-socials {
	margin: 40px 0;
}

.footer-container-text_button-button-download_button {
	padding: 12px 49px;
	color: #1b1e20;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	text-transform: uppercase;
	line-height: 21px;
	letter-spacing: 0.64px;
    border: 2px solid transparent;
	border-radius: 5px;
	background-color: #eff3f3;
    transition: 1s;
}

.footer-container-text_button-button-download_button:hover {
    color: #dddfe1;
    border: 2px solid #dddfe1;
	background: transparent;
}

.footer-container-copyright {
	color: #dddfe1;
	font-size: 16px;
	font-weight: 400;
	font-family: 'Open Sans', sans-serif;
	line-height: 21px;
	letter-spacing: 0.64px;
}

.footer-container-socials a {
	padding: 0 7px;
}

/*Responsive css*/

@media screen and (max-width: 1100px) { 
	.container {
		max-width: 992px;
	}

	.slider-container {
	    padding: 0 40px;
	}
}

@media screen and (max-width: 992px) { 
	img {
		max-width: 100% !important;
		height: auto !important; 
		box-sizing: border-box;
	} 

	iframe, textarea, input, button, select, video, object, embed {
		max-width: 100% !important; 
		box-sizing: border-box;
	} 

	.container {
		max-width: 960px;
	}

	.header-bg {
	    padding: 40px 40px 0;
	}

	.header-bg-icons-container, .header-bg-container {
		padding: 0;
	}
	
	/*.header-bg-icons-container, .slider-container {
    	padding: 0 40px;
	}*/

	.download_button {
 	   margin-right: 6%;
	}
	
	.slider-container-img {
    	margin-right: 8%;
	}

	.sing-up-container-text-first-caption, .sing-up-container-text-second-caption {
	    line-height: initial;
	}

	.sing-up-container-form {
	    text-align: right;
	}

	.sing-up-container-form .sing-up-form {
	    width: 80%;
	    text-align: right;
	}

	.sing-up-form input {
		width: 90%;
		margin: 0 0 4% 0;
	}
	
	.sing-up-form-button {
		width: calc(90% - 2px)
	}
} 

@media screen and (max-width: 768px) { 
	.container {
		max-width: 720px;
	}

	.header-bg-buttons-container {
	    display: flex;
	    flex-direction: column;
	    margin: 15px 0;
	    text-align: center;
	}
	
	.header-bg-container-text-caption {
		margin-bottom: 10px;
	}

	.download_button {
	    margin: 0 0 4% 0;
	}

	.superb-features-container {
    	margin: 0 auto;
    	padding: 40px 40px 36px;
	}
	
	.social-signups-container, .todays-menu-container, .app-gallery-container {
		margin: 40px auto 0;
	}

	.slider-container {
		margin: 40px auto;
	}

	.slider-container-img {
 	    margin-right: 20%;
	}

	.social-signups-container-text, .todays-menu-container-text {
		padding-bottom: 5%;
	}
}

@media screen and (max-width: 576px) { 
	.container {
		max-width: 540px;
	}
	
	.header-bg-container-text, .header-bg-container-phone_img, 
	.social-signups-container-img, .social-signups-container-text, 
	.todays-menu-container-text, .todays-menu-container-img, 
	.slider-container-img, .slider-container-text,
	.sing-up-container-text, .sing-up-container-form {
    	width: 100%;
	}	
		
	.header-bg {
    	padding: 30px 30px 0;
	}
	.header-bg-container-text-caption {
		text-align: center;
	}

	.header-bg-container-text p {
		text-align: justify;
	}

	.header-bg-container-phone_img {
		display: flex;
    	justify-content: center;
	}

	.header-bg-container-phone_img img {
    	float: none; 
	}

	.superb-features-container {
	    padding: 30px 30px 25px;
	}
	.social-signups-container, .todays-menu-container, 
	.app-gallery-container {
		margin: 30px auto 0;
	}
	.social-signups-container {
    	flex-direction: column-reverse;
	    padding: 0 4.078%;
	}

	.social-signups-container-img {
		display: flex;
	    justify-content: center;
	}
	
	.social-signups-container-text, .todays-menu-container-text {
		text-align: justify;
	}

	.social-signups-container-text-caption {
		text-align: left;
	}
	
	.todays-menu-container {
	    padding: 0 4.078%;
	}

	.todays-menu-container-img {
    	display: flex;
	    justify-content: center;
	}

	.slider-container {
 	   	margin: 30px auto;
 	   	padding: 0 30px;
	}

	.slider-container-wrapper {
	    padding: 0 8%; 
    	flex-wrap: wrap;
	}
	
	.slider-container-img {
	    display: flex;
	    justify-content: center;
     	margin: 0; 
		text-align: center;
	}

	.slider-container-text {
	    margin-top: 15px;
	}

	.slider-container-text-caption {
	    text-align: center;
	}

	.sing-up-container-form {
   		display: flex;
	    justify-content: center;
	    margin-top: 20px;
	}

	.sing-up-container-form .sing-up-form {
		display: flex;
	    flex-direction: column;
    	align-items: center;
    	justify-content: center;
	}

	.sing-up-container-text {
		text-align: center;
	}

	.sing-up-container-text-first-caption {
	    font-size: 25px;
	}

	.sing-up-container-text-second-caption {
	    font-size: 17px;
	}

	.sing-up-form input {
		width: 100%;
	}

	.sing-up-form-button {
   		width: calc(100% - 2px);
	}

	.footer {
	    padding: 35px 0 25px;
	}

	.footer-container-text_button {
	    flex-direction: column;
	}

	.footer-container-text_button-text {
	    margin-bottom: 20px;
	}

	.footer-container-text_button-button {
    	margin: 0; 
	}

	.footer-container-socials {
  		margin: 25px 0;
	}
}

@media screen and (max-width: 450px) {
	.header-bg-container-phone_img {
   		display: block;
	}

	.header-bg-container-phone_img img {
    	float: right;
	}
}